[submodule "system"]
	path = system
	url = git://github.com/synapsestudios/kohana-core
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/synapsestudios/kohana-orm
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/synapsestudios/kohana-database
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/synapsestudios/kohana-auth
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/synapsestudios/kohana-image
[submodule "modules/notices"]
	path = modules/notices
	url = git://github.com/synapsestudios/kohana-notices
[submodule "modules/email"]
	path = modules/email
	url = git://github.com/synapsestudios/kohana-email.git
[submodule "modules/csrf"]
	path = modules/csrf
	url = git://github.com/synapsestudios/kohana-csrf.git
[submodule "modules/yform"]
	path = modules/yform
	url = git://github.com/synapsestudios/kohana-yform.git
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/synapsestudios/kohana-kostache
[submodule "modules/minion"]
	path = modules/minion
	url = git://github.com/synapsestudios/kohana-minion.git
[submodule "modules/minion-tasks-migrations"]
	path = modules/minion-tasks-migrations
	url = git://github.com/synapsestudios/minion-tasks-migrations.git
[submodule "modules/minion-tasks-upgrade"]
	path = modules/minion-tasks-upgrade
	url = git://github.com/synapsestudios/minion-tasks-upgrade.git
[submodule "httpdocs/media/3rdparty/twitter-bootstrap"]
	path = httpdocs/media/3rdparty/twitter-bootstrap
	url = git://github.com/vwall/compass-twitter-bootstrap.git
[submodule "modules/acl"]
	path = modules/acl
	url = git@github.com:synapsestudios/kohana-acl.git
