[submodule "system"]
	path = system
	url = git://github.com/synapsestudios/kohana-core
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/synapsestudios/kohana-orm
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/synapsestudios/kohana-database
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/synapsestudios/kohana-auth
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/synapsestudios/kohana-image
[submodule "modules/notices"]
	path = modules/notices
	url = git://github.com/synapsestudios/kohana-notices
[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/synapsestudios/kohana-kostache
[submodule "modules/minion"]
	path = modules/minion
	url = git://github.com/synapsestudios/kohana-minion
[submodule "httpdocs/media/3rdparty/twitter-bootstrap"]
	path = httpdocs/media/3rdparty/twitter-bootstrap
	url = git://github.com/vwall/compass-twitter-bootstrap
[submodule "modules/acl"]
	path = modules/acl
	url = git://github.com/synapsestudios/kohana-acl
[submodule "modules/task-migrations"]
	path = modules/task-migrations
	url = git://github.com/synapsestudios/kohana-task-migrations
[submodule "modules/task-upgrade"]
	path = modules/task-upgrade
	url = git://github.com/synapsestudios/kohana-task-upgrade
[submodule "modules/synform"]
	path = modules/synform
	url = git://github.com/synapsestudios/kohana-synform
[submodule "modules/mail"]
	path = modules/mail
	url = git://github.com/synapsestudios/kohana-mail
