# Turn on URL rewriting
RewriteEngine On

RewriteRule .* - [E=REWRITEBASE:/]

# Set Development environment based on domain
RewriteCond %{HTTP_HOST} ^dev.vm$
RewriteRule .* - [E=REWRITEBASE:/@TODO:project-directory-goes-here/]

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Force to always use the HTTPS domain without the 'www' prefix (ssl)
RewriteCond %{HTTP_HOST} ^([^,]+),www\.\1
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{ENV:REWRITEBASE}$1 [R=301,L]

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{ENV:REWRITEBASE}$1 [R=301,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* %{ENV:REWRITEBASE}index.php/$0 [PT]